body {
  min-height: 4096px;
  margin: 0;
  font-family: Arial, sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #38a7c3;
  transition: background-color 0.2s linear;
}